name: 'CI/CD'

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  lint_js:
    name: Lint JavaScript Files
    runs-on: ubuntu-latest

    permissions:
      contents: write  # allow pushing changes back

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install Node.js
      uses: actions/setup-node@v4

    - name: Install and Run Linter
      run: |
        npm init -y
        npm install eslint eslint-config-standard eslint@^8.0.1 eslint-plugin-import@^2.25.2 eslint-plugin-n@^16.0.0 eslint-plugin-promise@^6.0.0

        find ./secondChance-backend -name app.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +
        find ./secondChance-backend -name auth.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +
        find ./secondChance-backend -name secondChanceItemsRoutes.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +
        find ./secondChance-backend -name searchRoutes.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +
        find ./secondChance-backend -name index.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +
        find ./sentiment -name index.js -exec ./node_modules/.bin/eslint -c .eslintrc.js --fix {} +

    - name: Commit and Push ESLint fixes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "chore: apply ESLint fixes"
        branch: ${{ github.ref_name }}